#!/bin/bash
CLUSTER_NAME="eu1"                              # Name for your cluster.
RANCHER_HOSTNAME="rancher.eu1.yourdomain.com"   # You need to update this value
KUBE_VERSION="v1.26.6"                          # At the moment Rancher can't run on K8S v1.27
RANCHER_CHART_REPO="latest"                     # https://ranchermanager.docs.rancher.com/getting-started/installation-and-upgrade/resources/choose-a-rancher-version
CONTROL_LB_TYPE="LB11"                          # https://docs.hetzner.com/cloud/load-balancers/overview#pricing
CONTROL_LB_LOCATION="fsn1"                      # https://docs.hetzner.com/cloud/general/locations/
CONTROL_COUNT=3                                 # Number of control nodes
CONTROL_LOCATION=(fsn1 hel1 nbg1)               # Needs as many entries as CONTROL_COUNT
CONTROL_TYPE="CX31"                             # https://docs.hetzner.com/cloud/servers/overview/
WORKER_LB_TYPE="LB11"                           # https://docs.hetzner.com/cloud/load-balancers/overview#pricing
WORKER_LB_LOCATION="fsn1"                       # https://docs.hetzner.com/cloud/general/locations/
WORKER_COUNT=2                                  # Number of worker nodes
WORKER_LOCATION=(fsn1 hel1 nbg1)                # Needs as many entries as WORKER_COUNT
WORKER_TYPE="CX31"                              # https://docs.hetzner.com/cloud/servers/overview/
WORKER_DATA_VOLUME=0                            # GB, set to 0 to skip creating data volume
TALOS_VERSION="v1.4.7"                          # https://github.com/siderolabs/talos/releases
